<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>

<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
       
        
    </nav>
    <div class="employees-system-section">
        <h1>Employees System</h1>
        <!-- Add any content specific to the Employees System here -->
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a routerLink="/login" class="nav-link" data-section="login"><i class="fa fa-fw fa-user-plus"></i>login Employees</a>
                </li>
                <li>
                    <a routerLink="/register" class="nav-link" data-section="rigster"><i class="fa fa-fw fa-user-plus"></i>New user</a>
                </li>
                <li>
                    <a routerLink="/add" class="nav-link" data-section="add"><i class="fa fa-fw fa-user-plus"></i>Add</a>
                </li>
                
                <li>
                    <a routerLink="/list" class="nav-link" data-section="list"><i class="fa fa-fw fa fa-question-circle"></i>list</a>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
<!-- <button (click)="showToaster()">Show Toaster</button> -->
