@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media(min-width:768px) {
    
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}
.navbar {
    border: none;
    background-color: #cdcfcf;
}
.navbar-brand {
    font-size: 14px; /* Set your desired font size here */
}

#wrapper {
    padding-left: 0;    
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}


/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 50px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        overflow-y: auto;
        background-color: #cdcfcf;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
   

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #3c5fd3 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
    font-size: 30px;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #fff;  
    font-size: 30px; /* Adjust the font size as needed */
  
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 30px;
  font-weight: bold;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}
.employees-system-section {
    text-align: center; /* Center the content */
    margin: 50px 0; /* Add some space around the section */
    background-color: #f9f9f9; /* Set a background color */
    padding: 20px; /* Add some padding inside the section */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.employees-system-section h1 {
    font-size: 36px; /* Set the font size for the heading */
    color: #333; /* Set the text color */
}

